<script id="tmp" type="text/x-handlebars-template">
	
<div style="margin-top:10px">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#productInfo" aria-controls="productInfo" role="tab" data-toggle="tab">Thông tin sản phẩm</a></li>
    <li role="presentation"><a href="#productImgs" aria-controls="productImgs" role="tab" data-toggle="tab">Hình ảnh</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="productInfo" style="padding:10px;overflow:hidden"></div>
    <div role="tabpanel" class="tab-pane" id="productImgs" style="padding:10px;overflow:hidden"></div>
  </div>

</div>

</script>