<script id="control-template-module" type="text/x-handlebars-template">
	<div class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<div class="panel-body">
			<div class="item {{zoom.class}}" style="display:block;position:absolute;    top: 90px;
    right: 221px;z-index:20" >
				
				<span class="btn btn-default btn-tron zoom-out" style="display:block">
					<i class="fa fa-search-minus"></i>
				</span>
				<span style="display:block;margin-left:7px">Zoom</span>
				<span class="btn btn-default btn-tron zoom-in" data-number="0">
					<i class="fa fa-search-plus"></i>
				</span>

			</div>
			<div class="item {{rotate.class}}">

				<span class="btn btn-default btn-tron rotate-left">
					<i class="fa fa-minus"></i>
				</span>
				Quay
				<span class="btn btn-default btn-tron rotate-right">
					<i class="fa fa-plus"></i>
				</span>

			</div>
		</div>
	</div>
</script>