

<script id="template-module" type="text/x-handlebars-template">
	<ul class="cus-main-nav my-nav-style my-nav-style-inline">
		<li class="{{home}}">
			 <a href="{{url}}index.html" title=""><i class="ion-ios-home-outline"></i> Trang chủ</a>
		</li>
		<li class="{{danhmuc}}"><a href="{{url}}danhmuc.html" title=""><i class="ion-ios-lightbulb-outline"></i> Sản phẩm</a>
			<div class="my-nav-style-level2">
				<div class="my-nav-style-block-level2">
					<span><a href="{{url}}sanpham.html#!cate=24&name=ly-su">Ly sứ - Create Your Own</a></span>
					<ul>
						<li><a href="{{url}}sanpham.html#!cate=31&name=ly-su-thuong" title="">Ly sứ thường</a></li>
						<li><a href="{{url}}sanpham.html#!cate=32&name=ly-su-thai" title="">Ly sứ Thái</a></li>
						<li><a href="{{url}}sanpham.html#!cate=33&name=ly-su-minh-long" title="">Ly sứ Minh Long</a></li>
					</ul>
				</div>
				<div class="my-nav-style-block-level2">
					<span><a href="{{url}}sanpham.html#!cate=21&name=in-skin-dien-thoai">In skin điện thoại</a></span>
					<ul>
						<li><a href="{{url}}sanpham.html#!cate=19&name=iphone-skin-5-5s" title="">In skin Iphone 5-5S</a></li>
						<li><a href="{{url}}sanpham.html#!cate=19&name=iphone-skin-4-4s" title="">In skin Iphone 4-4S</a></li>
					</ul>
				</div>
				<div class="my-nav-style-block-level2"  style="width:35%">
					<a href="" title="">
					<img src="{{url}}imgs/banner/banner-sanpham.png" alt="" style="    width: 380px;position: absolute;top: 37px; right: 11px;">
					</a>
				</div>
			</div>
		</li>
		<li class="{{thietke}}"><a href="{{url}}thiet-ke-mau.html" title=""><i class="ion-ios-color-filter-outline"></i> Thiết kế mẫu</a></li>
		<li class="{{huongdan}}">
			 <a href="{{url}}page/huongdan.html" title=""><i class="ion-wand"></i> Hướng dẫn thiết kế</a>
		</li>
		<li class="{{trogiup}}">
			 <a href="{{url}}trogiup.html" title=""><i class="ion-ios-paperplane-outline"></i> Trợ giúp & Bài viết</a>
		</li>
		<li class="{{gallery}}"><a href="{{url}}gallery.html" title=""><i class="ion-tshirt-outline"></i> Gallery</a></li>
	</ul>
</script>