<script id="edit-img-template-module" type="text/x-handlebars-template">
<div>
	<div class="popup-left-wrapper">
		<span class="title-style-1">Chọn hiệu ứng hình ảnh</span>

		<ul class="my-nav-style effect-zone">
			<li data-type="vintage">
				Vitage
			</li>
			<li data-type="sepia">
				Sepia
			</li>
			<li data-type="greenish">
				Greenish
			</li>
			<li data-type="reddish">
				Reddish
			</li>
		</ul>

		<span class="btn btn-primary block apply-effect">Chọn hình ảnh này</span>

	</div>
	<div class="photos-albums img-result">

	</div>
</div>
</script>