$main-color: #ffc627 !default;
$info-color: #009bde !default;

//== Top Menu & Menu Items
$top-menu-height: 8rem;
// ###### Menu Item
$padding-meny-item: 0 20px 0 20px;
$menu-active-item-bg: #f7f7f7;
$menu-item-height: 7.5rem;