<script id="tool-template-module" type="text/x-handlebars-template">
	<div class="panel panel-default"  >
		<div class="panel-heading">{{title}}</div>
		<div class="panel-body">
			<div data-step="10" data-intro="Set hình nổi lên trên hoặc xuống dưới" class="btn-group" role="group" aria-label="...">
			  <button type="button" class="btn btn-default show-up" 
			  		data-toggle="tooltip" data-placement="bottom" title="Nổi lên trên"> 
			  	<i class=" fa fa-angle-double-up"></i>
			  </button>
			  <button type="button" class="btn btn-default back-up" data-placement="bottom" title="Chìm xuống dưới">
			  	<i class="fa  fa-angle-double-down"></i>
			  </button>
			  <button type="button" class="btn btn-default rotate-repeat">
			  	<i class="fa fa-repeat"></i>
			  </button>

			  <button  data-step="11" data-intro="Chọn font chữ cho text" type="button" class="btn btn-default open-fonts">
			  	<i class="fa fa-font"></i> Font
			  </button>

			  <button data-step="9" data-intro="Chỉnh màu sắc cho hình ảnh" type="button" class="btn btn-default open-effect-img">
			  	<i class="fa fa-picture-o"></i> Chỉnh màu
			  </button>


			  <button data-step="12" data-intro="Chỉnh màu sắc cho hình ảnh" type="button" class="btn btn-warning open-edit-img">
			  	<i class="ion-crop"></i> Chỉnh sửa hình ảnh
			  </button>

			  <button data-step="13" data-intro="Sau khi ưng ý, click vào đây để đặt hàng" style="background-color: #428BCA;color: #fff;" type="button" class="btn btn-default checkout-btn" data-placement="bottom" title="Đặt hàng">
			  	<i class="fa fa-credit-card"></i> Thanh toán & Gửi đơn hàng
			  </button>
			</div>
		</div>
	</div>
</script>