<script id="template-module" type="text/x-handlebars-template">
    <div class="assetmedia-container container" style="max-width:100px!important;min-width:91% !important;min-height:300px">
        <div id="asc">
            
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row tmp-asset-media">
                </div>
                <button type="button" class="btn btn-default btn-chon-sanpham" style="display:none;position: absolute;
    top: 18px;
    right: -102px;">
                    <i class="ion-plus-circled"></i> Thêm vào sản phẩm</button>
            </div>
        </div>
        <div class="asset-media-content row">
        </div>
        <span class="previous" style="font-size: 50px; position: absolute;top: 50%;left: 1%;cursor:pointer"><i class="ion-ios-arrow-left"></i></span>
        <span class="next" style="font-size: 50px; position: absolute;top: 50%;right: 1%;cursor:pointer"><i class="ion-ios-arrow-right"></i></span>
        <style type="text/css" media="screen">
            li.active{
                color:#c9c9c9;font-size:20px
            }
        </style>
    </div>
</script>
