@import "variables";

input[type=checkbox]:before {
    content: '';
    padding-left: 30px;
    height: 20px;
    display: block;
    background-image: url($path-to-sprite);
    background-repeat: no-repeat;
    background-position: 0 -77px;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    left: -3px;
    top: -1px;
}

input[type=checkbox]:checked {
    &:before {
      background-position: 0 -114px;
    }
}