<div id="pop-up-show-product-relate" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:1000px!important">
    <div class="modal-content">
    	<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" 
					aria-label="Close"><span aria-hidden="true">&times;</span>
			</button>
	       <h2 class="modal-title">Chọn thiết kế mẫu cho sản phẩm khác</h2>
	       <hr>
	       <div class="content-poptup" style="min-height:300px">

	       	<div class="my-block" ng-repeat="product in relateProduct">
				<br>
				<span><a href="design.html#!id={{product.id}}&ref={{tkmRelateID}}">
					<b>{{product.ten_vi}}</b></a>
				</span>
				<div class="khung-anh">
					<a href="design.html#!id={{product.id}}&ref={{tkmRelateID}}"><img ng-src="{{hostImg}}{{product.thumb}}" alt=""></a>
				</div>
				<div class="meta-btn">
					<a href="design.html#!id={{product.id}}&ref={{tkmRelateID}}" class="btn btn-default">
						{{product.price | currency:"đ "}}
					</a>
					<a href="design.html#!id={{product.id}}&ref={{tkmRelateID}}" class="btn btn-primary">
						Chỉnh sửa <i class="ion-ios-color-wand-outline"></i>
					</a>
				</div>
			</div>

	       </div>
	    </div>
    </div>
  </div>
</div>