<script id="order-step3-template-module" type="text/x-handlebars-template">
<div>

	<h3 class="title-order-step text-center title-style-1"><b>XỬ LÝ ĐƠN HÀNG</b> 
		<i class="fa fa-spinner loading fa-spin"></i>
	</h3>
	<div class="col-xs-12">
		<div class="left-user order-successful">

			<span class="title-style-1"> 
				<img src="imgs/theme/giaohang.png" alt="">
				<span class="status-order">Đang xử lý đơn hàng</span>
			</span>
			<span class="block">
				<span class="status-order-msg"></span>
				<br><br>
				<a class="btn btn-default share-fb">
			    	<i class="fa fa-facebook"></i> Chia sẽ tác phẩm của bạn lên Facebook?
			    </a> 
			</span>

		</div>
	</div>
	<div class="col-xs-12" >
		<div class="left-user order-successful" style="background:url(imgs/theme/ikxbnvc.png);min-height:200px"></div>
	</div>

</div>
</script>