<script id="order-step1-template-module" type="text/x-handlebars-template">
<div>
	<h3 class="title-order-step text-center title-style-1"><b>STEP 1 : Thông tin khách hàng</b></h3>
	<div class="col-xs-12 col-sm-8">
		<div class="thong-tin-user left-user">
			<form action="" method="get" accept-charset="utf-8">
				<fieldset>
				    <legend>Điền thông tin cá nhân </legend>
				    <div class="form-group">
						<input type="text" class="block input name "  placeholder="Tên khách hàng" value="" /> 
						<span class="require"></span>
						<span class="error label label-warning"></span>
					</div>

					<div class="form-group">
						<input type="email" class="block input email " id="" placeholder="Enter email" value=""/>
						<span class="require"></span>
						<span class="error label label-warning"></span>

					</div>

					<div class="form-group">
						<input type="text" class="block input phone " value="" placeholder="Số điện thoại liên hệ" />
						<span class="require"></span>
						<span class="error label label-warning"></span>
					</div>

					<div class="form-group">
						<label for="">Số lượng đơn hàng</label>
						<input type="text" class="block input soluong " value="1"  />
						<span class="require"></span>
						<span class="error label label-warning"></span>
					</div>

					<div class="form-group">
						<label for="">Ghi chú đơn hàng</label> <br>
						<textarea class="ghi-chu" name="" style="width:100%;min-height:100px">
			    	
			    		</textarea>
					</div>

					<div class="form-group">
						<a href="#" class="btn btn-default" title="Login">Đăng nhập nếu bạn đã có tài khoản 
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
						<span class="btn btn-primary step1-next">
							Tiếp sang bước 2 
							<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
						</span> 
					</div>
				</fieldset>

			</form>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="thong-tin-user left-user col-xs-12 col-sm-12">
			<form action="" method="get" accept-charset="utf-8">
				<fieldset>
				    <legend>Sản phẩm thiết kế</legend>
					<div class="form-group">

					    <a href="#" class="thumbnail ">
					      <img class="hinh-anh-thiet-ke" src="imgs/slide/10.png" alt="...">
					    </a>

					</div>
					<div class="form-group">

					    <a href="#" class="thumbnail ">
					      <img class="hinh-anh-thiet-ke-mat-sau" src="" alt="...">
					    </a>

					</div>

					<div class="form-group">

					    <a href="#" class="thumbnail ">
					      <img class="hinh-anh-thiet-ke-layer-circle" src="" alt="...">
					    </a>

					</div>

				</fieldset>

			</form>
		</div>

	</div>
<div>
</script>