#create-your-own{
	/*margin-top: 100px*/
}

#main-menu{
	/*background-image: url('../../../imgs/theme/sativa.png');*/
	/*border: 1px solid #c9c9c9;*/
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	color: #000;
	min-height: 70px;
	height: 70px;
	z-index: 999;
	background: #677077;
	/*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
}
#main-menu h1{
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline-block;
	padding: 0px 25px 0px 0px;
	margin-top: 0;
	font-size: 45px;
}
#main-menu a{
	color: #fafafa;
	text-decoration: none;
	
}


#main-menu .cus-main-nav{
	display: inline-block;
	position: absolute;
}
#main-menu .cus-main-nav li{
	display: inline-block;
	margin: 0px 5px 0px 5px;
}
#main-menu .cus-main-nav > li > a:hover{
	color: #c9c9c9;
	transition : all 0.5s ease;
}

#main-menu .cus-main-nav > li:hover{
border-bottom: 2px solid #fafafa;
}

ul.my-nav-style li.active{
  border-bottom: 2px solid #fafafa;
  padding: 10px;
  cursor: pointer;
}

#main-menu .login-wrapper{
	display: inline-block;
	right: 0;
	position: absolute;
	top: 5%;
}
#main-menu .container_CP{
	background: none;
	box-shadow: none;
	width: 1200px
}


.sologan h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700
}
#main-menu .cus-main-nav li:hover .my-nav-style-level2 {
	display : block;
}

.my-nav-style-level2 {
    position: absolute;
    top: 52px;
    width: 100%;
    background-color: #677077;
    left: 0;
    padding: 35px;
    border-radius: 3px;
    display : none;
    
}
.my-nav-style-block-level2 {
    width: 30%;
    float: left;
    text-align: left;
    margin-right: 5px;
}
.my-nav-style-block-level2 span{
	font-size : 20px;
	
}
.my-nav-style-block-level2 span a{
    color: #FFEC16 !important;
    font-weight: bold;
}
.my-nav-style-block-level2 ul {
    padding: 0;
}
.my-nav-style-block-level2 ul li {
    display: block!important;
}
.my-nav-style-block-level2 ul li a:hover{
	color : #fff !important;
	font-weight: bold;
}
.my-nav-style-level2::before{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #fff;
    position: absolute;
    content: '';
    top: 0px;
    left: 200px;
}
